:root {

    --clr-neutral-100: hsla(0, 0%, 100%, 1);
    --clr-neutral-300: hsla(0, 0%, 93%, 1);
    --clr-neutral-900: hsla(0, 0%, 0%, 1);


    --ff-primary: 'Source Sans Pro', sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-bold: 700;

    --fs-200: 0.75rem;
    --fs-300: 0.813rem;

    --fs-body: var(--fs-300);
    --fs-small: var(--fs-200);

}

/* utility classes */

.flex-group {
    display: flex;
    flex-direction: column;
}

/* container */

.container {
    background-color: var(--clr-neutral-100);
}

/* post icon button style */

.post-icon-button {
    background: none;
    border: none;
    width: 100%;
    justify-content: flex-start;
    cursor: pointer;
}

/* text colors */

.text-neutral-100 {
    color: var(--clr-neutral-100);
}

.text-neutral-300 {
    color: var(--clr-neutral-300);
}

.text-neutral-900 {
    color: var(--clr-neutral-900);
}

/* background colors */

.bg-neutral-100 {
    background-color: var(--clr-neutral-100);
}

.bg-neutral-300 {
    background-color: var(--clr-neutral-300);
}

.bg-neutral-900 {
    background-color: var(--clr-neutral-900);
}

/* font-size and font-weight */

.fs-small { 
    font-size: var(--fs-small);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

/* general styling */

body {
    font-family: var(--ff-primary);
    font-size: var(--ff-body);
    font-weight: var(--fw-bold);
}

/* header */

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom: 2px solid hsla(0, 0%, 77%, 1);
}

.oldgram-logo {
    width: 90%;
}

.header-user-avatar {
    width: 25%;
    border-radius: 50px;
    margin-left: auto;
}

/* posts section */

.posts-section {
    display: grid;
    gap: 1.5rem;
    background-color: var(--clr-neutral-300);
    max-width: 470px;
}

.post-header {
    display: flex;
    padding: 0.6rem;
    gap: 0.5rem;
    align-items: center;
}

.post-user-avatar {
    width: 10%;
    border-radius: 50px;

}

.post-username {
    text-decoration: none;
    color: var(--clr-neutral-900);
}

.post-location {
    text-decoration: none;
    color: var(--clr-neutral-900);
}

.post-footer {
    padding: 1rem 0 0 1rem;
}

.post-icons-ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.post-icons-ul li {
    width: 8%;
}

.comment-section {
    width: 100%;
    overflow: hidden;
    padding: 0 0 1rem 0;
}
  
.comment-username {
    text-decoration: none;
    color: var(--clr-neutral-900);
    float: left;
    margin-right: 5px;
}